[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
redis = "*"
kani = {extras = ["openai"], version = "*"}
gunicorn = "*"
whitenoise = "*"
requests = "*"
mysqlclient = "*"
openai = "*"
asgiref = "*"
django-celery-results = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
black = "*"
factory-boy = "*"
pytest-factoryboy = "*"


[requires]
python_version = "3.11"
