[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
redis = "*"
kani = {extras = ["openai"], version = "*"}
gunicorn = "*"
whitenoise = "*"
requests = "*"
openai = "*"
asgiref = "*"
django-celery-results = "*"
django-celery-beat = "*"
pytest-asyncio = "*"
psycopg2-binary = "*"
djangosaml2 = "*"
django-csp = "<4.0" # https://github.com/IdentityPython/djangosaml2/issues/415
django-simple-history = "*"
pyyaml = "*"
djangorestframework-dataclasses = "*"
django-import-export = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
black = "*"
factory-boy = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.11"
